Biblioteca
Immagini
Documenti
Dropbox
Modelli
Musica
Pubblici
Scaricati
Scrivania
Video
Workspace
VirtualBox
ebook

.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cache/
.cinnamon/
.config/
.dbus/
.dropbox-dist/
.dropbox/
.gksu.lock
.gnome/
.gnupg/
.linuxmint/
.local/
.mozilla/
.oh-my-zsh/
.pki/
.ssh/known_hosts
.sudo_as_admin_successful
.viminfo
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-giumint-5.1.1
.zsh-update
.zsh_history

.lnav
.pangzerorc
.xinputrc
.lesshst
.VirtualBox
.dmrc
.eclipse
.java
.oracle_jre_usage
.swt
.gimp-2.8
.grsync
.thumbnails
.mcf
missfont.log
snx.elg
.wget-hsts
.xchm
.xscreensaver
qlgt.db
.var
.thunderbird
.ssh/authorized_keys
.gnucash/books/conto-comune.gnucash.gcm
.gnucash/books/mymoney.gnucash.gcm
