Immagini
Documenti
Dropbox
Modelli
Musica
Pubblici
Scaricati
Scrivania
Video
Workspace

.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cache/
.cinnamon/
.config/
.dbus/
.dropbox-dist/
.dropbox/
.gksu.lock
.gnome/
.gnupg/
.linuxmint/
.local/
.mozilla/
.oh-my-zsh/
.pki/
.ssh/known_hosts
.sudo_as_admin_successful
.viminfo
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-giumint-5.1.1
.zsh-update
.zsh_history

