Biblioteca
Immagini
Documenti
Dropbox
Modelli
Musica
Pubblici
Scaricati
Scrivania
Video
Workspace
VirtualBox
ebook
vimwiki
bin

.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cache/
.cinnamon/
.config/
.dbus/
.dropbox-dist/
.dropbox/
.gksu.lock
.gnome/
.gnupg/
.linuxmint/
.local/
.mozilla/
.oh-my-zsh/
.pki/
.ssh/known_hosts
.sudo_as_admin_successful
.viminfo
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-giumint-5.1.1
.zsh-update
.zsh_history

.lnav
.pangzerorc
.xinputrc
.lesshst
.VirtualBox
.dmrc
.eclipse
.java
.oracle_jre_usage
.swt
.gimp-2.8
.grsync
.thumbnails
.mcf
*.log
snx.elg
.wget-hsts
.xchm
.xscreensaver
qlgt.db
qlgt.db-journal
.var
.thunderbird
.ssh/authorized_keys
.gconf/apps/cryptkeeper
.gconf/apps/%gconf.xml
.smartgit
.webos
.zenmap
.ripperXrc
.texmf-var
.vim
.npm
.rnd
.QMapShack
.gtkrc-2.0
.gtkrc-xfce
.zcompdump*
.aliases
.display
.dotfiles
dotfiles
.oh-my-zsh
.tmux
.tmux.conf
.git-crypt
.cert
.nv
.nvidia-settings-rc
.purple
.aMule
.gitconfig
.vimrc
.zshrc
.ngrok
*.swp
*.swo
*.swn
*.swm
*~
.zoom
.macromedia
.asciinema
VirtualBox VMs
opt
.ansible*
*.local
.android
.python_history
*.old
